<div class="navContainer">
  <!--To Home -->
  <a routerLink="/home" routerLinkActive="active">
    <div class="navLinkContainer">
      <p>Home</p>
    </div>
  </a>
  <!--To SayingHello Task -->
  <a routerLink="/sayingHello" routerLinkActive="active">
    <div class="navLinkContainer">
      <p>Saying Hello</p>
    </div>
  </a>
  <!--To CountingCharacters Task -->
  <a routerLink="/countingCharacters" routerLinkActive="active">
    <div class="navLinkContainer">
      <p>Counting Characters</p>
    </div>
  </a>
  <!--To RectangularRoom Task -->
  <a routerLink="/RectangularRoom" routerLinkActive="active">
    <div class="navLinkContainer">
      <p>RectangularRoom</p>
    </div>
  </a>
</div>
<router-outlet></router-outlet>
